<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <h1>Nice to see you!</h1>
                <p>Is there new items coming in to the store? Click on {{homeCtrl.dashboard}}</p>
                <p><a class="btn btn-primary btn-lg" ui-sref="dashboard" role="button">{{homeCtrl.dashboard}} <span class="glyphicon glyphicon-upload"></span></a></p>
            </div>
            <div class="col-md-4" style="padding-top: 20px">
                <img src="/images/thumbnail/dog.png" width="130" height="180"/>

            </div>
        </div>

    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>NUTRITION & CARE</h2>
            <p>Expert advice on pet nutrition and providing the best care you can.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>TRAINING & BEHAVIOUR</h2>
            <p>Handy training tips, tricks and help understanding your pet's Behaviour.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>ASK THE EXPERT</h2>
            <p>Have a question? Our experts are here to help!</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2016 ACE Petstore, Inc. | v <span app-version></span></p>
    </footer>
</div> <!-- /container -->